<a href="https://colab.research.google.com/github/Vinicius-Ikehara/Alura_Formacoes/blob/main/Aula_2_Classificando_o_usu%C3%A1rio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
drive.mount("/content/drive", force_remount=True)

Mounted at /content/drive

In [ ]:
from google.colab import files
import io

In [ ]:
import pandas as pd

path = "/content/drive/MyDrive/Formação Machine Learning/2 - Classificação Por Trás Dos Panos"
 
df = pd.read_csv(path + '/acesso.csv' )

df.head(5)

   acessou_home  acessou_como_funciona  acessou_contato  comprou
0             1                      1                0        0
1             1                      1                0        0
2             1                      1                0        0
3             1                      1                0        0
4             1                      1                0        0

In [ ]:
df.to_numpy()

array([[1, 1, 0, 0],
       [1, 1, 0, 0],
       [1, 1, 0, 0],
       [1, 1, 0, 0],
       [1, 1, 0, 0],
       [1, 0, 1, 1],
       [1, 1, 0, 0],
       [1, 0, 1, 1],
       [1, 1, 0, 0],
       [1, 0, 1, 1],
       [1, 1, 0, 1],
       [1, 0, 1, 1],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [1, 0, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 0, 1, 1],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [1, 0, 1, 1],
       [0, 0, 1, 0],
       [1, 0, 1, 1],
       [1, 0, 1, 1],
       [1, 0, 1, 1],
       [1, 0, 1, 1],
       [0, 0, 1, 0],
       [1, 1, 0, 0],
       [1, 0, 1, 1],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [1, 0, 1, 1],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [1, 0, 1, 1],
       [1, 0, 1, 1],
       [1, 1, 0, 0],
       [1, 1, 0, 0],
       [1, 1, 0, 0],
       [1, 1, 0, 0],
       [1, 0, 1, 1],
       [1, 1, 0, 0],
       [1, 0, 1, 1],
       [1, 1, 0, 0],
       [1, 0, 1, 1],
       [1, 1, 0, 0],
       [1, 0, 1, 1],
       [0, 0, 1, 0],
       [1, 0, 1, 1],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [1, 0, 1, 1],
       [0, 1, 1, 1],
       [0, 0, 1, 0],
       [1, 0, 1, 1],
       [1, 0, 1, 1],
       [1, 1, 0, 0],
       [1, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [1, 1, 0, 1],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [1, 0, 1, 1],
       [1, 0, 1, 1],
       [1, 1, 0, 0],
       [1, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [1, 0, 1, 1],
       [1, 0, 1, 1],
       [1, 1, 0, 0],
       [1, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [1, 1, 1, 1],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 0, 0, 0]])

In [ ]:
dados = df[['acessou_home','acessou_como_funciona','acessou_contato']]
marcacoes = df['comprou']

In [ ]:
X = dados
Y = marcacoes

In [ ]:
X.head(100)

    acessou_home  acessou_como_funciona  acessou_contato
0              1                      1                0
1              1                      1                0
2              1                      1                0
3              1                      1                0
4              1                      1                0
..           ...                    ...              ...
94             0                      0                1
95             1                      1                1
96             0                      0                1
97             0                      1                0
98             0                      0                0

[99 rows x 3 columns]

In [ ]:
Y.head(5)

0    0
1    0
2    0
3    0
4    0
Name: comprou, dtype: int64

In [ ]:
from sklearn.naive_bayes import MultinomialNB
modelo = MultinomialNB()
modelo.fit(X, Y)

MultinomialNB()

In [ ]:
print(modelo.predict([[1,0,1],[0,1,0],[1,0,0], [1,1,0], [1,1,1]]))

[1 0 0 0 0]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but MultinomialNB was fitted with feature names
  "X does not have valid feature names, but"

In [ ]:
resultado = modelo.predict(X)

diferencas = resultado - Y

acertos = [d for d in diferencas if d == 0]
total_de_acertos = len(acertos)
total_de_elementos = len(X)

taxa_de_acerto = 100.0 * total_de_acertos / total_de_elementos

print(taxa_de_acerto)
print(total_de_elementos)

93.93939393939394
99

In [ ]:
X = dados
Y = marcacoes

treino_dados = X[:90]
treino_marcacoes = Y[:90]

teste_dados = X[-9:]
teste_marcacoes = Y[-9:]

In [ ]:
from sklearn.naive_bayes import MultinomialNB
modelo = MultinomialNB()
modelo.fit(treino_dados, treino_marcacoes)

MultinomialNB()

In [ ]:
resultado = modelo.predict(teste_dados)
diferencas = resultado - teste_marcacoes

In [ ]:
acertos = [d for d in diferencas if d == 0]
total_de_acertos = len(acertos)
total_de_elementos = len(teste_dados)

taxa_de_acerto = 100.0 * total_de_acertos / total_de_elementos

print(taxa_de_acerto)
print(total_de_elementos)

88.88888888888889
9