<a href="https://colab.research.google.com/github/Vinicius-Ikehara/Alura_Formacoes/blob/main/Aula_4_Implementando_o_algoritmo_base.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
from google.colab import files
import io

In [ ]:
import pandas as pd

path = "/content/drive/MyDrive/Formação Machine Learning/2 - Classificação Por Trás Dos Panos"

#Lendo o CSV 
df = pd.read_csv(path + '/buscas.csv' )

#Mostrando os 5 primeiros valores
df.head(10)

   home       busca  logado  comprou
0     0  algoritmos       1        1
1     0        java       0        1
2     1  algoritmos       0        1
3     1        ruby       1        0
4     1        ruby       0        1
5     0        ruby       1        0
6     0  algoritmos       1        1
7     0        ruby       0        1
8     1  algoritmos       1        1
9     1        ruby       1        1

In [ ]:
X_df = df[['home', 'busca', 'logado']]
Y_df = df['comprou']

In [ ]:
Xdummies_df = pd.get_dummies(X_df).astype(int)
Ydummies_df = Y_df

Xdummies_df.head(5)

   home  logado  busca_algoritmos  busca_java  busca_ruby
0     0       1                 1           0           0
1     0       0                 0           1           0
2     1       0                 1           0           0
3     1       1                 0           0           1
4     1       0                 0           0           1

In [ ]:
X = Xdummies_df.values
Y = Ydummies_df.values

In [ ]:
porcentagem_treino = 0.9

tamanho_de_treino = int(porcentagem_treino * len(Y))
tamanho_de_teste = len(Y) - tamanho_de_treino

treino_dados = X[:tamanho_de_treino]
treino_marcacoes = Y[:tamanho_de_treino]

teste_dados = X[-tamanho_de_teste:]
teste_marcacoes = Y[-tamanho_de_teste:]

In [ ]:
from sklearn.naive_bayes import MultinomialNB
modelo = MultinomialNB()
modelo.fit(treino_dados, treino_marcacoes)

resultado = modelo.predict(teste_dados)

diferencas = resultado - teste_marcacoes

acertos = [d for d in diferencas if d == 0]
total_de_acertos = len(acertos)
total_de_elementos = len(teste_dados)

acerto_uns = sum(Y)
acerto_zeros = len(Y) - acerto_uns

taxa_acerto_base = 100.0 *(max(acerto_uns,acerto_zeros)/len(Y))

print("Taxa de acerto base: ", taxa_acerto_base)

taxa_de_acerto = 100.0 * total_de_acertos / total_de_elementos

print("Taxa de acerto algoritmo: ", taxa_de_acerto)

Taxa de acerto base:  83.2
Taxa de acerto algoritmo:  82.0

In [ ]:
#Outra maneira de verificar quantos valores são uns e zeros

print(len(Y[Y==1]))
print(len(Y[Y==0]))

832
168

In [ ]:
acerto_uns = len(Y[Y==1])
acerto_zeros = len(Y[Y==0])

In [ ]:
taxa_acerto_base = 100.0 *(max(acerto_uns,acerto_zeros)/len(Y))

print(taxa_acerto_base)

83.2

In [ ]:
#E SE AO INVÉS DE UNS E ZEROS TIVESSEMOS SIM E NÃO

df = pd.read_csv(path + '/buscas.csv' )
df.head(10)

   home       busca  logado  comprou
0     0  algoritmos       1        1
1     0        java       0        1
2     1  algoritmos       0        1
3     1        ruby       1        0
4     1        ruby       0        1
5     0        ruby       1        0
6     0  algoritmos       1        1
7     0        ruby       0        1
8     1  algoritmos       1        1
9     1        ruby       1        1

In [ ]:
from collections import Counter
X_df = df[['home', 'busca', 'logado']]
Y_df = df['comprou']

Xdummies_df = pd.get_dummies(X_df)
Ydummies_df = Y_df

X = Xdummies_df.values
Y = Ydummies_df.values

acerto_base = max(Counter(Y).values())
taxa_de_acerto_base = 100.0 * acerto_base / len(Y)
print("Taxa de acerto base: %f" % taxa_de_acerto_base)

porcentagem_treino = 0.9

tamanho_de_treino = int(porcentagem_treino * len(Y))
tamanho_de_teste = len(Y) - tamanho_de_treino

treino_dados = X[:tamanho_de_treino]
treino_marcacoes = Y[:tamanho_de_treino]

teste_dados = X[-tamanho_de_teste:]
teste_marcacoes = Y[-tamanho_de_teste:]

from sklearn.naive_bayes import MultinomialNB
modelo = MultinomialNB()
modelo.fit(treino_dados, treino_marcacoes)

resultado = modelo.predict(teste_dados)

acertos = resultado == teste_marcacoes

total_de_acertos = sum(acertos)
total_de_elementos = len(teste_dados)

taxa_de_acerto = 100.0 * total_de_acertos / total_de_elementos

print("Taxa de acerto do algoritmo: %f" % taxa_de_acerto)
print(total_de_elementos)

Taxa de acerto base: 83.200000
Taxa de acerto do algoritmo: 82.000000
100